* {
    padding: 0;
    margin: 0;
}

.first {
    display: flex;
    justify-content: flex-end; /* Changed to flex-end for better alignment */
}

ul li {
    list-style-type: none;
    margin-right: 40px;
}

.first a {
    background-color: rgba(72, 9, 60, 0.995);
    padding: 8px;
    border-radius: 30px;
    color: white;
}

a {
    text-decoration: none;
}

.header {
    background-color: rgb(249, 13, 233);
    height: 70px;
}

.header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: xx-large;
}

body {
    background-image: url(./header-page.jpg);
    width: 100%;
    height: auto;/* Changed to auto for responsive design */
    background-repeat: no-repeat;
    opacity: 0.8;
}

.image {

    text-align: center;
    background-color: rgb(233, 54, 179);
    width: 300px;
    height: 250px; /* Changed to auto for responsive design */
    margin: 100px auto; /* Centered the image div */
    border-radius: 40px;
}

.about {
    background-color: rgb(250, 86, 215);
    height: 200px;
    margin-top: 10%;
}
.about p,h2{
    color: white;
    margin-top: 10px;
    text-align: center;
}

/* Dropdown Menu Styles */
.second {
    display: none; /* Initially hide the second list */
    transform: translateX(50px);
    margin-top: 10px;
}

.first li:nth-child(3):hover .second {
    display: block; /* Show the second list when hovering over the parent li */
}
.second li{
    margin-top: 15px;
}